[Unit]
Description=web api for a speech processing tool
After=multi-user.target
[Service]
# TODO : Change WorkingDirectory to the one with the database
Type=simple
Restart=always
# TODO : use venv/bin/python3 instead of /usr/bin/python3 
ExecStart=/usr/bin/python3 /home/v_descatoire/Developer/Davinci/src/app.py
[Install]
WantedBy=multi-user.target
